body {
  margin: 0 !important;
  padding: 0 !important;
  min-height: 100vh;
}

.footer-div {
  display: flex;
  background-color: #2f2929;
  color: white;
  height: 60px;
  justify-content: center;
  align-items: center;
}

.product-card {
  height: fit-content !important;
  display: flex;
  flex-direction: column;
}
.product-card img {
  height: 290px;
  object-fit: fill;
}
.product-actions a {
  margin-right: 5px;
}

.card-img-top,
.carousel-inner {
  height: 290px;
  object-fit: cover;
}

.card-body {
  flex-grow: 1;
  overflow: hidden;
}

.card-title,
.card-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* alert */
.alert-bad,
.alert-good {
  padding: 20px;
  width: fit-content;
  border-radius: 5px !important;
  color: white !important;
  position: fixed;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
}

.alert-bad {
  background-color: #f44336 !important;
}

.alert-good {
  background-color: green !important;
}

/* make the number input field up and down button disappear */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#sidebar .sidebar-header {
  padding: 1rem;
  background: #fff;
}
#sidebar ul.components {
  padding: 0;
  margin: 0;
  list-style: none;
}
#sidebar ul li {
  width: 100%;
}
#sidebar ul li a {
  display: block;
  padding: 0.75rem 1.25rem;
  color: #333;
  text-decoration: none;
}
#sidebar ul li a:hover {
  background: #e9ecef;
  text-decoration: none;
}
/* Style for dropdown toggles */
#sidebar ul li a.dropdown-toggle::after {
  float: right;
  margin-top: 4px;
}
