body {
  background-color: #f8f9fa;
}
.error-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.error-code {
  font-size: 6rem;
  font-weight: bold;
  color: #dc3545;
}
.error-message {
  font-size: 1.5rem;
  margin: 20px 0;
}
.btn-home {
  margin-top: 20px;
}

/* alert */
.alert-bad,
.alert-good {
  padding: 20px;
  width: fit-content;
  border-radius: 5px !important;
  color: white !important;
  position: fixed;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
}

.alert-bad {
  background-color: #f44336 !important;
}

.alert-good {
  background-color: green !important;
}
