<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Login</title>

    <!-- css -->
    <link rel="stylesheet" href="/admin/stylesheets/adminLogin.css" />

    <!-- bootstrap -->
    <%- include("../partials/admin/bootLink.ejs") %>

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Port+Lligat+Slab&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- alert -->
    <div
      class="alert alert-danger d-none tex-center d-flex"
      id="alertBox"
      role="alert"
      style="
        position: fixed;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        width: fit-content;
        justify-content: center;
        align-items: center;
      "
    ></div>
    <div class="main container">
      <div class="main-frame row">
        <div class="left-side col-12 col-lg-6">
          <div class="logo d-flex">
            <img src="/images/Screenshot 2025-01-23 163042.png" alt="logo" />
          </div>
        </div>
        <div class="right-side col-12 col-lg-6">
          <div class="login d-flex">
            <p style="font-size: 50px" class="firstP">Welcome</p>

            <p style="font-size: 20px" class="secP">
              PLEASE LOGIN TO ADMIN DASHBOARD
            </p>
            <form class="signin-form">
              <div class="mb-3">
                <label for="email" class="form-label"></label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  name="email"
                  aria-describedby="emailHelp"
                  placeholder="email"
                  style="width: 400px"
                />
              </div>
              <div class="mb-3">
                <label for="password" class="form-label"></label>
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  name="password"
                  placeholder="password"
                />
              </div>
              <div class="d-flex justify-content-center">
                <button
                  type="submit"
                  class="btn btn-primary"
                  style="background-color: #f36820; border: none"
                >
                  LOGIN
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- bootsrtap -->
    <%- include("../partials/admin/bootScript.ejs") %>

    <!-- Include Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- Include validation script -->
    <script src="/admin/front-end-validation/adminLoginValidation.js"></script>
  </body>
</html>
