body {
  margin: 0 !important;
  font-family: Arial, sans-serif !important;
  background: linear-gradient(135deg, #bdbdbd 0%, #ffffff 100%);
}

.navbar-logo {
  margin-left: 30px;
  border-radius: 50%;
  transition: 0.2s ease-in-out;
}

.navbar-logo:hover {
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.1),
    0 6px 20px 0 rgba(255, 255, 255, 0.1);
  transform: scale(1.1);
}

/* alert */
.alert-bad,
.alert-good {
  padding: 20px;
  width: fit-content;
  border-radius: 5px !important;
  color: white !important;
  position: fixed;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
}

.alert-bad {
  background-color: #f44336 !important;
}

.alert-good {
  background-color: green !important;
}

.container-main {
  min-height: calc(100vh - 212px);
  display: flex;
}

.content {
  flex-grow: 1;
  padding: 30px;
  background-color: white;
}

.sidebar {
  width: 250px;
  background: #f8f9fa;
  padding: 20px;
  border-right: 1px solid #ddd;
}
.sidebar a {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
  border-radius: 5px;
  margin-bottom: 5px;
}
.sidebar a:hover,
.sidebar a.active {
  background: #007bff;
  color: white;
}

.coupon-sec {
  transition: 0.3s;
}
.coupon-sec:hover {
  transform: scale(1.03);
}

/* apply this on every user template */
@media (max-width: 767px) {
  #contact-us {
    font-size: 1rem !important;
  }

  #footer-mail {
    font-size: 0.6rem !important;
  }

  .right h5 {
    font-size: 1rem !important;
  }

  .right ul {
    font-size: 0.6rem !important;
  }

  .cycle-logo {
    height: 60px !important;
  }
  .all-rights {
    font-size: 0.5rem !important;
  }
}

@media (max-width: 375px) {
  #contact-us {
    font-size: 0.8rem !important;
  }

  #footer-mail {
    font-size: 0.4rem !important;
  }

  .right h5 {
    font-size: 0.8rem !important;
  }

  .right ul {
    font-size: 0.4rem !important;
  }

  .cycle-logo {
    height: 40px !important;
  }
  .all-rights {
    font-size: 0.3rem !important;
  }
}
