body {
  margin: 0 !important;
  font-family: Arial, sans-serif !important;
}

/* for alert */
.alert-bad,
.alert-good {
  padding: 20px;
  width: fit-content;
  border-radius: 5px !important;
  color: white !important;
  position: fixed;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
}

.alert-bad {
  background-color: #f44336 !important;
}

.alert-good {
  background-color: green !important;
}
