body {
  margin: 0 !important;
  font-family: Arial, sans-serif !important;
}

.navbar-logo {
  margin-left: 30px;
  border-radius: 50%;
  transition: 0.2s ease-in-out;
}

.navbar-logo:hover {
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.1),
    0 6px 20px 0 rgba(255, 255, 255, 0.1);
  transform: scale(1.1);
}

.card-body {
  max-height: 200px;
  min-height: 200px;
}

.card {
  border: none !important;
}

#search {
  max-width: 500px;
  border-radius: 20px;
}

#category,
#min-price,
#max-price,
#rating {
  max-width: 200px;
}

.to-product {
  transition: transform 0.2s ease;
}

.to-product:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/* for alert */
.alert-bad,
.alert-good {
  padding: 20px;
  width: fit-content;
  border-radius: 5px !important;
  color: white !important;
  position: fixed;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
}

.alert-bad {
  background-color: #f44336 !important;
}

.alert-good {
  background-color: green !important;
}

.rating-badge {
  background-color: #2e7d32;
  color: white;
  display: inline-flex;
  align-items: center;
  padding: 1px 5px;
  border-radius: 5px;
  font-weight: bold;
}
.star-icon {
  margin-left: 5px;
  font-size: 12px;
  color: white;
}

@media (max-width: 992px) {
  .offcanvas-body {
    margin: 0px !important;
  }
}

@media (max-width: 767px) {
  #contact-us {
    font-size: 1rem !important;
  }

  #footer-mail {
    font-size: 0.6rem !important;
  }

  .right h5 {
    font-size: 1rem !important;
  }

  .right ul {
    font-size: 0.6rem !important;
  }

  .cycle-logo {
    height: 60px !important;
  }
  .all-rights {
    font-size: 0.5rem !important;
  }
}

@media (max-width: 450px) {
  .offcanvas {
    width: 300px !important;
  }
  .offcanvas-body {
    margin: 0px !important;
  }
  .navbar-toggler {
    padding: 2px 6px !important;
  }
  .navbar-toggler-icon {
    font-size: small;
  }
  .search-form::placeholder {
    font-size: small !important;
  }
  .search-form {
    padding: 3px 6px !important;
    height: 30px !important;
  }
  .offcanvas-body form button {
    padding: 3px 6px;
    font-size: small;
  }
  .nav-item a,
  .nav-item button {
    font-size: smaller;
  }
}

@media (max-width: 375px) {
  #contact-us {
    font-size: 0.6rem !important;
  }

  #footer-mail {
    font-size: 0.4rem !important;
  }

  .right h5 {
    font-size: 0.6rem !important;
  }

  .right ul {
    font-size: 0.4rem !important;
  }

  .cycle-logo {
    height: 40px !important;
  }
  .all-rights {
    font-size: 0.3rem !important;
  }
  #filter-section div:first-child {
    width: 130px !important;
  }
  .offcanvas {
    width: 250px !important;
  }
}
