body {
  margin: 0 !important;
  font-family: Arial, sans-serif !important;
}

/* must include in all other templates for the navbar */
.navbar-logo {
  margin-left: 30px;
  border-radius: 50%;
  transition: 0.2s ease-in-out;
}

.navbar-logo:hover {
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.1),
    0 6px 20px 0 rgba(255, 255, 255, 0.1);
  transform: scale(1.1);
}

.thumbnail {
  cursor: pointer;
  border: 2px solid transparent;
  margin-bottom: 10px;
  width: 100%;
}
.thumbnail.active {
  border-color: #007bff;
}
/* Main image styling */
.main-image {
  width: 50%;
  height: auto;
  cursor: zoom-in;
}
/* Custom scroll for side thumbnails */
.side-images {
  max-height: 350px;
  overflow-y: auto;
}
/* Rating star styling */
.rating-star {
  color: #ffd700;
  font-size: 1.2rem;
}
.rating-star.empty {
  color: #ccc;
}
/* Additional styles for product details */
.spec-container {
  margin-top: 20px;
}
/* Price container styling */
.price-container {
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.price-container .text-muted {
  margin-right: 10px;
}

/* Zoomed image container */
.zoomed-image {
  position: absolute;
  top: 0;
  left: 80%;
  width: 400px;
  height: 400px;
  background-size: cover;
  background-position: center;
  border: 1px solid #ccc;
  display: none;
  z-index: 1000;
  border: 2px solid black;
}

.carousel-item img {
  border-radius: 10px;
  max-height: 300px;
  object-fit: contain;
}

.btn-dark:hover {
  background-color: #212529;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black;
  border-radius: 50%;
  padding: 10px;
}

/* for alert */
.alert-bad,
.alert-good {
  padding: 20px;
  width: fit-content;
  border-radius: 5px !important;
  color: white !important;
  position: fixed;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
}

.alert-bad {
  background-color: #f44336 !important;
}

.alert-good {
  background-color: green !important;
}

.rating-badge {
  background-color: #2e7d32;
  color: white;
  display: inline-flex;
  align-items: center;
  padding: 1px 5px;
  border-radius: 5px;
  font-weight: bold;
}
.star-icon {
  margin-left: 5px;
  font-size: 12px;
  color: white;
}

.review-stars .star {
  font-size: 1.2rem;
  color: #ddd;
}

.review-stars .star.filled {
  color: #ffc107;
}

.wishlist-icon {
  color: red;
}

.add-to-wish-btn:hover .wishlist-icon {
  color: white;
}

.cart-icon {
  color: black;
}

.add-to-cart-btn:hover .cart-icon {
  color: white;
}

.offcanvas-body {
  margin-right: 45px;
}

/* apply this on every user template */
@media (max-width: 992px) {
  .offcanvas-body {
    margin-left: 0px !important;
  }
  .offcanvas {
    width: 250px !important;
  }
}

@media (max-width: 767px) {
  #contact-us {
    font-size: 1rem !important;
  }

  #footer-mail {
    font-size: 0.6rem !important;
  }

  .right h5 {
    font-size: 1rem !important;
  }

  .right ul {
    font-size: 0.6rem !important;
  }

  .cycle-logo {
    height: 60px !important;
  }
  .all-rights {
    font-size: 0.5rem !important;
  }
}

@media (max-width: 450px) {
  .navbar-toggler {
    padding: 2px 6px !important;
  }
  .navbar-toggler-icon {
    font-size: small;
  }

  .nav-item a,
  .nav-item button {
    font-size: smaller;
  }
  .alert-bad,
  .alert-good {
    font-size: small;
  }
}

@media (max-width: 375px) {
  #contact-us {
    font-size: 0.6rem !important;
  }

  #footer-mail {
    font-size: 0.4rem !important;
  }

  .right h5 {
    font-size: 0.6rem !important;
  }

  .right ul {
    font-size: 0.4rem !important;
  }

  .cycle-logo {
    height: 40px !important;
  }
  .all-rights {
    font-size: 0.3rem !important;
  }
  #filter-section div:first-child {
    width: 130px !important;
  }
}
