<header
  style="
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background: linear-gradient(135deg, #1c1c1c, #626567);
  "
>
  <img
    class="ms-3"
    src="/images/—Pngtree—cycling logo design vector icon_5149980-Photoroom.png"
    alt="logo"
    style="width: 60px"
  />

  <a
    style="text-decoration: none; display: none"
    class="me-3 burger-icon"
    data-bs-toggle="offcanvas"
    href="#offcanvasExample"
    role="button"
    aria-controls="offcanvasExample"
  >
    <i class="fa-solid fa-bars text-white fs-3"></i>
  </a>
</header>
