<nav id="sidebar">
  <ul class="components">
    <li>
      <a href="/admin/dashboard">Dashboard</a>
    </li>
    <li>
      <a href="/admin/users">Customers</a>
    </li>
    <li>
      <a
        href="#productsSubmenu"
        data-bs-toggle="collapse"
        aria-expanded="false"
        class="dropdown-toggle"
      >
        Products
      </a>
      <ul class="collapse list-unstyled" id="productsSubmenu">
        <li><a href="/admin/products">All Products</a></li>
        <li><a href="/admin/add-products">Add Products</a></li>
      </ul>
    </li>
    <li>
      <a
        href="#categoriesSubmenu"
        data-bs-toggle="collapse"
        aria-expanded="false"
        class="dropdown-toggle"
      >
        Categories
      </a>
      <ul class="collapse list-unstyled" id="categoriesSubmenu">
        <li><a href="/admin/manage-category">Manage Category</a></li>
        <li><a href="/admin/view-categories">View Categories</a></li>
      </ul>
    </li>
    <li>
      <a href="/admin/all-orders">Orders</a>
    </li>
    <li>
      <a href="/admin/wallet">Wallet</a>
    </li>
    <li>
      <a
        href="#couponsSubmenu"
        data-bs-toggle="collapse"
        aria-expanded="false"
        class="dropdown-toggle"
      >
        Coupons
      </a>
      <ul class="collapse list-unstyled" id="couponsSubmenu">
        <li><a href="/admin/coupons">All Coupons</a></li>
        <li><a href="/admin/add-coupon">Add Coupon</a></li>
      </ul>
    </li>
    <li>
      <a
        href="#offerSubmenu"
        data-bs-toggle="collapse"
        aria-expanded="false"
        class="dropdown-toggle"
      >
        Offers
      </a>
      <ul class="collapse list-unstyled" id="offerSubmenu">
        <li><a href="/admin/offers">View Offers</a></li>
        <li><a href="/admin/add-offer">Add Offers</a></li>
      </ul>
    </li>
    <li>
      <a
        href="#bannersSubmenu"
        data-bs-toggle="collapse"
        aria-expanded="false"
        class="dropdown-toggle"
      >
        Banners
      </a>
      <ul class="collapse list-unstyled" id="bannersSubmenu">
        <li><a href="/admin/all-banners">All Banners</a></li>
        <li><a href="/admin/banner-management">Add Banner</a></li>
      </ul>
    </li>
    <li>
      <a href="/admin/sales-report">Sales Report</a>
    </li>
    <li>
      <a
        href="#adminSubmenu"
        data-bs-toggle="collapse"
        aria-expanded="false"
        class="dropdown-toggle"
      >
        Admin
      </a>
      <ul class="collapse list-unstyled" id="adminSubmenu">
        <li><a href="#">Change Password</a></li>
        <% if(user && user.isAdmin) { %>
        <li><button class="dropdown-item logout-btn">Logout</button></li>
        <% } %>
      </ul>
    </li>
  </ul>
</nav>
